*.o
*.a
.cache/
.vs/
.vscode/
.idea/
.DS_Store

build/
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*

/main
/quantize
/result
/llama

arm_neon.h
compile_commands.json

.envrc
.direnv/

cmake-build-debug-system/**
cmake-build-debug/**
cmake-build-release/**
cmake-build-release-system/**

CMakeCache.txt
cmake_install.cmake
.cmake/
CMakeFiles/

*.a
*.bin
